
@import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
h1{
  color: green;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.form-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
  text-align: center;
  box-shadow: 0px 1px 12px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 13px;
  min-width: 253px;
  
}
.wrapper{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 4rem 0rem;
}